@{
	ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
	<h1 class="display-3">Welcome @ViewBag.StylistName</h1>
	<h4 class="text-danger">@ViewBag.message</h4>

	<h3>Clients</h3>

	<div class="container clientBG">
		@if (ViewBag.ClientList != null)
		{
			foreach (Client item in ViewBag.ClientList)
			{
				//<p>Stylist: @item.Stylist_Name</p>
				<p>Name: @item.Name</p>
				<p>Phone: @item.Phone_number</p>
				if (item.Alt_phone_number != "")
				{
					<p>Alternate Phone Number: @item.Alt_phone_number</p>
				}
				<hr>
			}
		}
	</div>
</div>
