@{
	ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
	<h1 class="display-3">Welcome @ViewBag.StylistName</h1>
	<h4 class="text-danger">@ViewBag.message</h4>

	<h3>Specialties</h3>
	<a class="btn-success btn" asp-controller="specialties" asp-action="new">Add new Specialty</a>
	<div class="container clientBG rounded">
		<hr>
		@if (ViewBag.SpecialtyList != null)
		{
			@foreach (Specialty item in ViewBag.SpecialtyList)
			{
				<div class="row justify-content-center align-items-center">
					<div class="col-md-4 text-left">
						<p><a asp-controller="specialties" asp-action="show" asp-route-userId="@item.Id"><b>Specialty</b>: @item.Name </a></p>
					</div>

					<div class="col-md-2 text-left">
						<a class="btn-primary btn" asp-controller="specialties" asp-action="edit" asp-route-clientId="@item.Id"> Edit </a>
						<a class="btn-danger btn" asp-controller="specialties" asp-action="destroy" asp-route-clientId="@item.Id"> Remove </a>
					</div>
				</div>
				<hr>
			}
		}
	</div>
	<a class="btn-danger btn" asp-controller="specialties" asp-action="destroyAll"> Clear All </a>
</div>
