@{
	ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
	<h1 class="display-3">Welcome @ViewBag.StylistName</h1>
	<h4 class="text-danger">@ViewBag.message</h4>

	<h3>Stylists</h3>
	<a class="btn-success btn" asp-controller="stylist" asp-action="new">Add new Stylist</a>
	<div class="container clientBG rounded">
		<hr>
		@if (ViewBag.UserList != null)
		{
			foreach (Stylist item in ViewBag.UserList)
			{

				<div class="row justify-content-center align-items-center">
					<div class="col-md-3 text-left">
						<h5><a asp-controller="stylist" asp-action="show" asp-route-userId="@item.Id"> @item.Name </a></h5>
					</div>

					<div class="col-md-2 text-left">
						<a class="btn-primary btn" asp-controller="stylist" asp-action="edit" asp-route-userId="@item.Id"> Edit </a>
						<a class="btn-danger btn" asp-controller="stylist" asp-action="destroy" asp-route-userId="@item.Id"> Remove </a>
					</div>

					<div class="col-md-2 text-left">
						<ul>
							@if (item.StylistSpecialties != null)
							{
								@foreach (StylistSpecialty specialty in item.StylistSpecialties)
								{
									<li>
										@specialty.Specialty.Name
									</li>
								}
							}

						</ul>
					</div>
				</div>
				<hr>

			}
		}
	</div>
	<a class="btn-danger btn" asp-controller="stylist" asp-action="destroyAll"> Clear All </a>
</div>
